<section>
  <div class="wrapper">
    <div class="player__bar">
      <div class="players__container">
        @for (player of game.players; track player.id) {
          <div (click)="editPlayerSafely(player.id)" (dblclick)="removePlayer(player)" class="player__box" [class.active]="player.isActive">
            <div class="profile__image">
              <img [src]="player.profileImage" alt="{{ player.name }}">
            </div>
            <div class="player__name">{{ player.name }}</div>
          </div>
        }
      </div>
      <button (click)="openDialog()" mat-fab color="primary">
          <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</section>

