<section>
    <div class="wrapper">
        <div class="field">
            <div class="card__stack">
                @for(count of [1, 2, 3, 4, 5]; track count; let index = $index) {
                    <img [src]="'img/cards/card_cover.png'" alt="Card" [ngStyle]="{ 'left.px': index * (window.innerWidth > 768 ? 15 : 10) }"/>
                }
                <img (click)="takeCard()" [ngClass]="{ 'animate__topcard': firestoreService.game.pickCardAnimation }" class="top__card" src="img/cards/card_cover.png" alt="Card">
                @for(card of firestoreService.game.playedCards; track index; let index = $index) {
                    <img class="played__card" [src]="'img/cards/' + card" alt="Card">
                }
                @if(firestoreService.game.pickedCard && firestoreService.game.showPickedCard) {
                    <img (click)="takeCard()" class="picked__card animate__pickedcard" [src]="'img/cards/' + firestoreService.game.pickedCard" alt="Picked Card" />
                }
            </div>
        </div>
        <app-game-info [card]="firestoreService.game.pickedCard" [game]="firestoreService.game"></app-game-info>
    </div>
    <app-player-bar [game]="firestoreService.game" [gameId]="gameId"></app-player-bar>
</section>


