<div class="dialog__container" (keydown.enter)="addPlayer(name)">
    <h2 class="dialog__container__title" mat-dialog-title>Add new player (Max:10)</h2>
    <mat-dialog-content class="dialog__container__content">
      <p>Please enter the name of a player?</p>
      <mat-form-field class="mat-form-field">
        <mat-label class="mat-label">Your name</mat-label>
        <input matInput [(ngModel)]="name" (keydown.enter)="addPlayer(name)"/>
      </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions class="dialog__container__actions">
      <button mat-button class="dialog__container__actions__button dialog__container__actions__button--cancel" (click)="onNoClick()">No Thanks</button>
      <button mat-button [disabled]="name.length == 0" class="dialog__container__actions__button dialog__container__actions__button--confirm" [mat-dialog-close]="name" [attr.cdkFocusInitial]="name.length > 0 ? '' : null">Add</button>
    </mat-dialog-actions>
</div>
  
  
